<form action="/add-ingredient" method="post" class="flex-sb">
   <div class="input-ingredient">
      <label for="quantity">
         <input type="number" name='quantity' value="1" min='1' max='20'>
      </label>
      <label for="ingredient">
         <input class="effect-1" type="text" placeholder="Enter Ingredient" value="" name="ingredient" />
         <span class="focus-border"></span>
      </label>
   </div>

   <div class="input-name">
      <input class="effect-1" type="text" placeholder="Enter Name" value="" name="name" />
      <span class="focus-border"></span>
   </div>

   <input type="submit" class="submit-btn" />
</form>