<div class="container">
   <h1>Sharing is Caring</h1>

   <div class="content-wrapper">
      <div class="menu-container">
         <h2>On The Menu</h2>
         <img
            src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fd3cizcpymoenau.cloudfront.net%2Fimages%2F35047%2FSFS_hearty_minestrone-16.jpg&f=1"
            alt="food" />
         <div class="flex-sb">
            <span class="meal-name" contenteditable="true">
               {{mealDetails.recipe_name}}
            </span>
            <span contenteditable="true">{{mealDetails.date}}</span>
         </div>
         <div class="ingredientsList-container">
            {{#each list}}
            <p>{{quantity}} x {{ingredient}}</p>
            {{/each}}
         </div>
      </div>

      <div class="list-container">
         <p class="flex-sb underline">
            <span class="small-text">What</span>
            <span class="small-text">Who</span>
         </p>
         <ul>
            {{>list}}
            <li>
               {{>form}}
            </li>
         </ul>
      </div>
   </div>
</div>