body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 2rem;
}

img {
  width: 100%;
}

h1 {
  padding-left: 3rem;
}

h2 {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}

/* Reusables */
.flex-sb {
  display: flex;
  justify-content: space-between;
}

.underline {
  border-bottom: 1px solid #b4b4b4;
  margin: 0;
}

.small-text {
  font-size: 14px;
}

.inline-b {
  display: inline-block;
  margin: 0;
}

.hide {
  display: none;
}

.edit {
  color: #555555;
}

/* List */
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  border-bottom: 1px solid #b4b4b4;
  padding: 1rem 0;
  font-size: 24px;
}

/* Containers */
.container {
  max-width: 1400px;
}

.content-wrapper {
  display: flex;
  justify-content: space-around;
}

.menu-container {
  width: 30%;
}

.list-container {
  width: 50%;
  padding: 0 3rem;
}

/* Btns */
.delete-btn {
  color: #ff0000;
  cursor: pointer;
  margin-left: 2rem;
  display: none;
  border: 0;
  background-color: #ffffff;
  font-size: 20px;
}

.list-item:hover .delete-btn {
  display: inline-block;
}

.list-item:hover .inline-b {
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  color: #969696;
  font-style: italic;
}

/* On the menu */
.meal-name {
  font-style: italic;
  font-size: 20px;
}

.input-ingredient {
  width: 40%;
  position: relative;
  display: flex;
}

.input-name {
  width: 20%;
  position: relative;
}

input[type='text'] {
  font-size: 24px;
  color: #555555;
  width: 100%;
}

input[type='number'] {
  width: 35px;
  padding: 7px;
  font-size: 24px;
  margin-right: 10px;
  border: 0;
}

input[type='submit'] {
  display: none;
}

.effect-1 {
  border: 0;
  padding: 7px 0;
}

.effect-1 ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #ffa600;
  transition: 0.4s;
}

.effect-1:focus ~ .focus-border {
  width: 100%;
  transition: 0.4s;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
}
