<div class="container">
   <h1>Sharing is Caring</h1>

   <div class="content-wrapper">
      <div class="menu-container">
         <h2>On The Menu</h2>
         <img
            src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fd3cizcpymoenau.cloudfront.net%2Fimages%2F35047%2FSFS_hearty_minestrone-16.jpg&f=1"
            alt="food" />
         <div class="flex-sb">
            <span class="meal-name">
               Minestrone
            </span>
            <span>Fri 11 - 11</span>
         </div>
         <div class="ingredientsList-container">
            <p>2 x Onions</p>
            <p>2 x Carrots</p>
            <p>1 x Celery</p>
            <p>3 x Potatoes</p>
         </div>
      </div>

      <div class="list-container">
         <p class="flex-sb underline">
            <span class="small-text">What</span>
            <span class="small-text">Who</span>
         </p>
         <ul>
            <li class="flex-sb">
               <span>1 x Onion</span>
               <span>Jane</span>
            </li>
            <li class="flex-sb">
               <span>1 x Onion</span>
               <span>Bob</span>
            </li>
            <li class="flex-sb">
               <span>1 x Onion</span>
               <span>Bob</span>
            </li>
            <li>
               <form action="/form" method="post" class="flex-sb">
                  <div class="input-ingredient">
                     <input type="number" value="1" min='1' max='20'>
                     <input class="effect-1" type="text" placeholder="Enter Ingredient" value="" name="ingredient" />
                     <span class="focus-border"></span>
                  </div>

                  <div class="input-name">
                     <input class="effect-1" type="text" placeholder="Enter Name" value="" name="name" />
                     <span class="focus-border"></span>
                  </div>

                  <input type="submit" class="submit-btn" />
               </form>
            </li>
         </ul>
      </div>
   </div>
</div>